<template>
  <div class="animated fadeIn">

  </div>
</template>

<script>
import Base from '../../shared/Base.vue'
import Action from '../../shared/Action.vue'
import Mode from '../../shared/Mode.vue'
import ListService from '../../services/list'

export default {
  name: 'dashboard',
  extends: Base,
  components: {
    Action,
    Mode
  },
  created () {
    this.url.list = '/dashboard'
    this.url.get = '/dashboard/get/1'
    this.url.add = '/dashboard/create'
  },
  beforeRouteEnter (to, from, next) {
    if (to.params.mode !== undefined) {
      Promise.all([
        ListService.getPost()]).then(([post, pre]) => {
        next(vm => {
          vm.post = post
          vm.pre = pre
        })
      })
    } else {
      next()
    }
  }
}
</script>

