<template>
	<div class="form-actions mb-3">
	  <div class="text-right">
      <router-link v-if="mode!='add' && mode!='edit'" class="btn btn-primary btn-flat btn-social" tag='a' :to="{ path: '/'+url.add}"><i class="fa fa-plus"></i> Add </router-link>
      <router-link v-if="mode=='add' || mode =='edit'" class="btn btn-info btn-flat btn-social" tag='a' :to="{ path: '/'+url.init}"><i class="fa fa-list"></i> List </router-link>
      </div>
	</div>
</template>
<script>
  export default {
    name: 'mode-button',
    props: ['url', 'mode']
  }
</script>