<template>
    <div class="card">
        <div class="card-header">
            <strong>Assign Currenct To Branch</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <strong>{{LeftSideLabel}}</strong>
                    <!-- https://jsfiddle.net/pkwroL5L/1/ -->
                    <ul multiple="multiple" class="multi-select f32" id="selectItemLeft" ref="multiselectLeft">
                        <li v-for="option in availableOptions" :class="{ selected: option.isSelected }" @click="toggle(option)">
                            <i class="flag" :class="option.ClassName"></i>{{option.Text}}
                        </li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <strong>&nbsp;</strong>
                    <div class="list-group" id="list-tab" role="tablist">

                        <div class="btn-group-vertical multi-select-control">
                            <button type="button" v-on:click="moveSelectedItemsRight($event)" class="btn btn-info btn-block"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            <button type="button" v-on:click="moveAllItemsRight($event)" class="btn btn-default btn-block"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                            <button type="button" v-on:click="moveSelectedItemsLeft($event)" class="btn btn-secondary btn-block"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                            <button type="button" v-on:click="moveAllItemsLeft($event)" class="btn btn-secondary btn-block"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
                            <!-- <button type="button" v-on:click="moveItemsUp($event)" class="btn btn-secondary btn-block"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                            <button type="button" v-on:click="moveItemsUp($event)" class="btn btn-secondary btn-block"><i class="fa  fa-caret-down" aria-hidden="true"></i></button> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 float-right">
                    <strong>{{RightSideLabel}}</strong>
                    <ul multiple="multiple" class="multi-select f32" id="selectItemRight" ref="multiselectRight">
                        <li v-for="(option,i) in selectedOptions" :key="i" :class="{ selected: option.isSelected }" @click="toggle(option)">
                            <i class="flag" :class="option.ClassName"></i>{{option.Text}}
                            <div class="sort-btn">
                                <i v-if="i > 0" class="fa fa-caret-up" aria-hidden="true" @click="moveUp(i)"></i>
                                <i v-if="i<selectedOptions.length-1" class="fa fa-caret-down" aria-hidden="true" @click="moveDown(i)"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  name: "multislectswitch",
  props: {
    availableOptions: {
      type: Array,
      default: []
    },
    selectedOptions: {
      type: Array,
      default: []
    },
    LeftSideLabel: {
      type: String,
      default: []
    },
    RightSideLabel: {
      type: String,
      default: []
    }
  },
  data() {
    return {
      isSelected: false,
      available: [],
      selected: []
    };
  },
  methods: {
    toggle: function(item) {
      item.isSelected = !item.isSelected;
    },
    moveUp: function(e) {
      this.move(this.selectedOptions, e, e - 1);
    },
    moveDown: function(e) {
      this.move(this.selectedOptions, e, e + 1);
    },
    move: function(array, old_index, new_index) {
      var element = array[old_index];
      array.splice(old_index, 1);
      array.splice(new_index, 0, element);
    },
    moveSelectedItemsRight: function(e) {
      var self = this.availableOptions;
      var select = this.selectedOptions;
      var selected = self.filter(item => item.isSelected === true);
      selected.forEach(function(arrayItem) {
        let i = self.map(item => item.Id).indexOf(arrayItem.Id);
        self.splice(i, 1);
      });
      selected.forEach(function(arrayItem) {
        select.push({
          Id: arrayItem.Id,
          Text: arrayItem.Text,
          ClassName: arrayItem.ClassName,
          isSelected: false
        });
      });
    },
    moveSelectedItemsLeft: function(e) {
      var self = this.selectedOptions;
      var select = this.availableOptions;
      var selected = self.filter(item => item.isSelected === true);
      selected.forEach(function(arrayItem) {
        let i = self.map(item => item.Id).indexOf(arrayItem.Id);
        self.splice(i, 1);
      });

      selected.forEach(function(arrayItem) {
        select.push({
          Id: arrayItem.Id,
          Text: arrayItem.Text,
          ClassName: arrayItem.ClassName,
          isSelected: false
        });
      });
    },
    moveAllItemsRight: function(e) {
      var self = this.availableOptions;
      var select = this.selectedOptions;

      var selected = self.filter(item => item);
      selected.forEach(function(arrayItem) {
        let i = self.map(item => item.Id).indexOf(arrayItem.Id);
        self.splice(i, 1);
      });
      selected.forEach(function(arrayItem) {
        select.push({
          Id: arrayItem.Id,
          Text: arrayItem.Text,
          ClassName: arrayItem.ClassName,
          isSelected: false
        });
      });
    },
    moveAllItemsLeft: function(e) {
      var self = this.selectedOptions;
      var select = this.availableOptions;

      var selected = self.filter(item => item);
      selected.forEach(function(arrayItem) {
        let i = self.map(item => item.Id).indexOf(arrayItem.Id);
        self.splice(i, 1);
      });
      selected.forEach(function(arrayItem) {
        select.push({
          Id: arrayItem.Id,
          Text: arrayItem.Text,
          ClassName: arrayItem.ClassName,
          isSelected: false
        });
      });
    }
  }
};
</script>
<style>
.multi-select {
  height: 400px !important;
  padding: 0px !important;
  width: 100%;
  overflow: auto;
  border: 1px solid #eee;
}

.multi-select > li {
  padding: 5px;
  margin: 2px;
  border: 1px solid #ccc;
  cursor: default;
  position: relative;
}

.multi-select > li.selected {
  background-color: Highlight;
}

#selectItemLeft > li > span,
#selectItemRight > li:first-child > span > i.fa-caret-up,
#selectItemRight > li:last-child > span > i.fa-caret-down {
  display: none;
}

.multi-select > li > span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 10px;
  height: 100%;
}

.multi-select > li > span > i {
  position: absolute;
  font-size: 1.5em;
}

.multi-select > li > span > i.fa-caret-up {
  top: -8px;
}

.multi-select > li > span > i.fa-caret-down {
  bottom: 4px;
}

.multi-select-control > button {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.multi-select-control > button > i {
  font-weight: bold;
}
div.sort-btn {
  position: relative;
  width: 35px;
  text-align: center;
  float: right;
}
div.sort-btn > i {
  position: absolute;
  font-size: 1.5em;
}
div.sort-btn > i.fa-caret-up {
  top: -7px;
}

div.sort-btn > i.fa-caret-down {
  bottom: -30px;
}
</style>
