﻿<template>
  <div class="app">
   <AppHeader :userInfo="userInfo"/>
    <div class="app-body">
      <Sidebar :navItems="nav"/>
      <main class="main">
        <breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
    </div>
    <AppFooter/>
  </div>
</template>

<script>
import CommonService from '../services/common'
import { Header as AppHeader, Sidebar, Footer as AppFooter, Breadcrumb } from '../components/'

export default {
  name: 'full',
  components: {
    AppHeader,
    Sidebar,
    AppFooter,
    Breadcrumb
  },
  data () {
    return {
      nav: CommonService.getUserPages(),
      userInfo: CommonService.getUserInfo()
    }
  },
  computed: {
    name () {
      return this.$route.name
    },
    list () {
      console.log('List',this.$route.matched)
      return this.$route.matched
    }
  }
}
</script>
