<template>
    <div class="animated fadeIn">
        <mode :url="url" :mode="mode" />
        <div v-show="mode !== undefined">
            <form @submit.prevent="onSubmit" novalidate autocomplete="off">
                <div class="card">
                    <div class="card-header">
                        <strong>City: {{mode}}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>State <span class="text-red">*</span></label>
                                    <kendo-dropdownlist 
                                    v-if="StateCollection != null" 
                                    name='State' v-validate="'required'" class="form-control" 
                                    :class="{'input': true, 'is-danger': errors.has('State') }" 
                                    v-model="vModel.StateProvinceId" 
                                    :data-text-field="'Text'" 
                                    :data-value-field="'Id'" 
                                    :auto-bind="true" 
                                    :data-source="StateCollection" 
                                    :option-label="'Please Select State'" 
                                    :index="0">
                                    </kendo-dropdownlist>
                                    <div v-show="errors.has('State')" class="help is-danger">{{ errors.first('State') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name<span class="text-red">*</span></label>
                                    <input autocomplete="off" v-model="vModel.CityName" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('CityName') }" type="text" class="form-control" name="CityName">
                                    <div v-show="errors.has('CityName')" class="help is-danger">{{ errors.first('CityName') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <action v-on:oncancel="onCancel" />
                    </div>
                </div>
            </form>
        </div>
        <div v-show="mode === undefined">
            <kendo-grid :data-source="kendoDataSource" :pageable='true' :sortable='true' :pagable='pageable' :filterable='filterable' @databound="onDataBound">
                <kendo-grid-column field="CityName" title="City Name"></kendo-grid-column>
                <kendo-grid-column field="StateName" title="State Name"></kendo-grid-column>
                <kendo-grid-column title="Action" :width="100" template='<a id="edit-${Id}" class="vue-kendo-link-edit" >
                <i class="fa fa-edit text-success" data-item="${Id}"></i></a> 
                <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" 
                data-item="${Id}"></i></a>'>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import ListService from "../../services/list";

export default {
  name: "state",
  extends: Base,
  components: {
    Action,
    Mode
  },
  created() {
    this.url.init = "address/city";
    this.url.list = "address/city/list";
    this.url.add = "address/city/add";
    this.url.edit = "address/city/edit";
    this.url.add = "address/city/add";
    this.url.update = "address/city/update";
    this.url.delete = "address/city/delete";
  },
  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      promises.push(ListService.getStateList());
      if (to.params.id !== undefined) {
        promises.push(ListService.getById("address/city/get/" + to.params.id));
      }
      Promise.all(promises).then(response => {
        next(p => {
          if (to.params.id !== undefined) {
            p.vModel = response[1].body;
          }
          p.StateCollection = response[0].body;
        });
      });
    } else {
      next();
    }
  },
  data() {
    return {
      vModel: {
        Id: null,
        CityName: null,
        StateProvinceId: null,
        StateName: null
      },
      StateCollection: null
    };
  }
};
</script>