<template>
    <div class="animated fadeIn">
        <mode :url="url" :mode="mode" />
        <div v-show="mode !== undefined">
            <form @submit.prevent="onSubmit" novalidate autocomplete="off">
                <div class="card">
                    <div class="card-header">
                        <strong>Country: {{mode}}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name<span class="text-red">*</span></label>
                                    <input autocomplete="off" v-model="vModel.Name" v-validate="'required'" data-vv-as='Country Name' :class="{'input': true, 'is-danger': errors.has('CountryName') }" type="text" class="form-control" name="CountryName">
                                    <div v-show="errors.has('CountryName')" class="help is-danger">{{ errors.first('CountryName') }}</div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Nationality<span class="text-red">*</span></label>
                                    <input autocomplete="off" v-model="vModel.Nationality" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Nationality') }" type="text" class="form-control" name="Nationality">
                                    <div v-show="errors.has('Nationality')" class="help is-danger">{{ errors.first('Nationality') }}</div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Code<span class="text-red">*</span></label>
                                    <input autocomplete="off" v-model="vModel.Code" v-validate="'required'" data-vv-as='Country Code' :class="{'input': true, 'is-danger': errors.has('Code') }" type="text" class="form-control" name="CountryCode">
                                    <div v-show="errors.has('CountryCode')" class="help is-danger">{{ errors.first('CountryCode') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label style="display:block">IsEnable?</label>
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" v-model="vModel.IsEnable" name="IsEnable">
                                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label style="display:block">IsHighRisk?</label>
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" v-model="vModel.IsHighRisk" name="IsHighRisk">
                                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <action v-on:oncancel="onCancel" />
                    </div>
                </div>
            </form>
        </div>
        <div v-show="mode === undefined">
            <!-- if(state === \'Online\') -->
            <!-- <strong>#: if(IsEnable ===\'Yes'\) # </strong> -->
            <!-- <strong>#: IsEnable # </strong> -->
             <!-- template: "<span class='#if(state === \'Online\') {# red #}#'></span>" -->
             <!-- template: "#if(OrderType == 'OrderType 20') {#<div class='customClass'>#:OrderType#</div>#} else{##:OrderType##}#" -->
             <!-- <span class="#if(IsEnable === 'Yes') {# red #} #">#: IsEnable #</span> -->
           <kendo-grid :data-source="kendoDataSource" :pageable='true' :sortable='true' :pagable='pageable' :filterable='filterable' @databound="onDataBound">
              <kendo-grid-column field="Name" title="Name"></kendo-grid-column>
              <kendo-grid-column field="Nationality" title="Nationality"></kendo-grid-column>
              <kendo-grid-column field="Code" title="Code"></kendo-grid-column>
              <kendo-grid-column field="IsEnable" title="IsEnable" template="#if(IsEnable == 'Yes') {#<span class='blue'>#:IsEnable#</span>#} else{#<span class='red'>#:IsEnable#</span>#}#" ></kendo-grid-column>
              <kendo-grid-column field="IsHighRisk" title="IsHighRisk"></kendo-grid-column>
              <kendo-grid-column  title="Action" :width="100" 
                template='<a id="edit-${Id}" class="vue-kendo-link-edit" >
                <i class="fa fa-edit text-success" data-item="${Id}"></i></a> 
                <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" 
                data-item="${Id}"></i></a>'>
                </kendo-grid-column>
                
              <!-- <kendo-grid-column title="Action" template="<button :click='onEdit(this)'></button>">
              
              </kendo-grid-column> -->
           </kendo-grid>
        </div>
    </div>
</template>
<style>
.red {
  color: red;
}

.blue {
  color: blue;
}
</style>
<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import ListService from "../../services/list";

export default {
  name: "country",
  extends: Base,
  components: {
    Action,
    Mode
  },
  SetColor: function() {
    alert("ss");
  },

  created() {
    this.url.init = "address/country";
    this.url.list = "address/country/list";
    this.url.edit = "address/country/edit";
    this.url.add = "address/country/add";
    this.url.update = "address/country/update";
    this.url.delete = "address/country/delete";
  },
  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      if (to.params.id != undefined) {
        var id = to.params.id;
        promises.push(ListService.getById("address/country/get/" + id));
      }
      Promise.all(promises).then(response => {
        next(p => {
          p.vModel = response[0].body;
        });
      });
    } else {
      next();
    }
  },
  data() {
    return {
      vModel: {
        Id: null,
        Name: null,
        Nationality: null,
        Code: null,
        IsEnable: true,
        IsHighRisk: null
      }
    };
  }
};
</script>
