<template>
    <div class="animated fadeIn">
        <mode :url="url" :mode="mode" />
        <div v-show="mode !== undefined">
            <form @submit.prevent="onSubmit" novalidate autocomplete="off">
                <div class="card">
                    <div class="card-header">
                        <strong>Post Code: {{mode}}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>State <span class="text-red">*</span></label>
                                    <kendo-dropdownlist ref="statedropdownlist"
                                    v-if="StateCollection != null"
                                     
                                    name='State' v-validate="'required'" class="form-control" 
                                    :class="{'input': true, 'is-danger': errors.has('State') }" 
                                    v-model="vModel.StateProvinceId" 
                                    :data-text-field="'Text'" 
                                    :data-value-field="'Id'" 
                                    :auto-bind="true"
                                    v-on:select="onSelect" 
                                    :data-source="StateCollection" 
                                    :option-label="'Please Select State'"
                                
                                    v-on:cascade="onSateCascade"
                                    @databound="onStateDropDownBound"
                                    :index="0">
                                    </kendo-dropdownlist>
                                    <div v-show="errors.has('State')" class="help is-danger">{{ errors.first('State') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>City<span class="text-red">*</span></label>
                                    <kendo-dropdownlist ref="citydropdownlist"
                                   
                                    name='State' v-validate="'required'" class="form-control" 
                                    :class="{'input': true, 'is-danger': errors.has('City') }" 
                                    v-model="vModel.CityId" 
                                    :data-text-field="'Text'" 
                                    :data-value-field="'Id'" 
                                    :auto-bind="true" 
                                    :dataSource="null"
                                    :option-label="'Please Select State'"
                                    :index="0">
                                    </kendo-dropdownlist>
                                    <div v-show="errors.has('City')" class="help is-danger">{{ errors.first('City') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name<span class="text-red">*</span></label>
                                    <input autocomplete="off" v-model="vModel.PostCodeName" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('PostCodeName') }" type="text" class="form-control" name="PostCodeName">
                                    <div v-show="errors.has('PostCodeName')" class="help is-danger">{{ errors.first('PostCodeName') }}</div>
                                </div>
                            </div>
                             <div class="col-sm-4">
                                <div class="form-group">
                                    <label style="display:block">IsEnabled?</label>
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" v-model="vModel.IsEnabled" name="IsEnabled">
                                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <action v-on:oncancel="onCancel" />
                    </div>
                </div>
            </form>
        </div>
        <div v-show="mode === undefined">
            <kendo-grid :data-source="kendoDataSource" :pageable='true' :sortable='true' :pagable='pageable' :filterable='filterable' @databound="onDataBound">
                
                <kendo-grid-column field="PostCodeName" title="Post Code Name"></kendo-grid-column>
                <kendo-grid-column field="StateName" title="State Name"></kendo-grid-column>
                <kendo-grid-column field="CityName" title="City Name"></kendo-grid-column>
                <kendo-grid-column field="IsEnabled" title="IsEnabled"></kendo-grid-column>

                <kendo-grid-column title="Action" :width="100" template='<a id="edit-${Id}" class="vue-kendo-link-edit" >
                <i class="fa fa-edit text-success" data-item="${Id}"></i></a> 
                <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" 
                data-item="${Id}"></i></a>'>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</template>
<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import ListService from "../../services/list";

export default {
  name: "state",
  extends: Base,
  components: {
    Action,
    Mode
  },
  created() {
    this.url.init = "address/postcode";
    this.url.list = "address/postcode/list";
    this.url.add = "address/postcode/add";
    this.url.edit = "address/postcode/edit";
    this.url.add = "address/postcode/add";
    this.url.update = "address/postcode/update";
    this.url.delete = "address/postcode/delete";
  },
  beforeCreate() {},
  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      promises.push(ListService.getStateList());
      if (to.params.id !== undefined) {
        promises.push(
          ListService.getById("address/postcode/get/" + to.params.id)
        );
      }
      Promise.all(promises).then(response => {
        next(p => {
          if (to.params.id !== undefined) {
            p.vModel = response[1].body;
          }
          p.StateCollection = response[0].body;
        });
      });
    } else {
      next();
    }
  },
  methods: {
    onSateCascade: function(e) {
      console.log("event :: CascAde");
      var dropDownList = this.$refs.statedropdownlist.kendoWidget();
      var promises = [];
      var stateProvinceId =
        dropDownList.value() == ""
          ? "00000000-0000-0000-0000-000000000000"
          : dropDownList.value();
      promises.push(ListService.getById("list/city/get/" + stateProvinceId));
      Promise.all(promises).then(response => {
        this.CityCollection = response[0].body;
        this.$refs.citydropdownlist
          .kendoWidget()
          .setDataSource(this.CityCollection);
      });
    }
  },
  computed: {
    onStateDropDownBound: function(e) {
      console.log("event :: dataBound");
      var promises = [];
      var stateProvinceId = this.vModel.StateProvinceId;
      if (stateProvinceId != null) {
        promises.push(ListService.getById("list/city/get/" + stateProvinceId));
        Promise.all(promises).then(response => {
          this.CityCollection = response[0].body;
          this.$refs.citydropdownlist
            .kendoWidget()
            .setDataSource(this.CityCollection);
          this.$refs.citydropdownlist.kendoWidget().value(this.vModel.CityId);
        });
      }
    }
  },
  data() {
    return {
      vModel: {
        Id: null,
        CityId: null,
        StateProvinceId: null,
        PostCodeName: null,
        IsEnabled: null
      },
      StateCollection: null,
      CityCollection: null
    };
  }
};
</script>

