<template>
    <div class="animated fadeIn">
        <mode :url="url" :mode="mode" />
        <div v-show="mode !== undefined">
            <form @submit.prevent="onSubmit" novalidate autocomplete="off">
                <div class="card">
                    <div class="card-header">
                        <strong>State: {{mode}}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                                                      <div class="col-sm-4">
                                 <div class="form-group">
              <label>Country <span class="text-red">*</span></label>
              <kendo-dropdownlist v-if="CountryCollection != null" name='Country' v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('Country') }"
                    v-model="vModel.CountryId"
                    :data-text-field="'Text'"
                    :data-value-field="'Id'"
                    :auto-bind="true"
                    :data-source="CountryCollection"
                    :option-label="'Please Select Country'"
                    :index="0">
              </kendo-dropdownlist>
              <div v-show="errors.has('Country')" class="help is-danger">{{ errors.first('Country') }}</div>

          </div>
                            </div>
                               <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name<span class="text-red">*</span></label>
                                    <input autocomplete="off" v-model="vModel.StateName" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Name') }" type="text" class="form-control" name="Name">
                                    <div v-show="errors.has('Name')" class="help is-danger">{{ errors.first('Name') }}</div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Code<span class="text-red">*</span></label>
                                    <input autocomplete="off" v-model="vModel.StateCode" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Code') }" type="text" class="form-control" name="Code">
                                    <div v-show="errors.has('Code')" class="help is-danger">{{ errors.first('Code') }}</div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <action v-on:oncancel="onCancel" />
                    </div>
                </div>
            </form>
        </div>
        <div v-show="mode === undefined">
           <kendo-grid :data-source="kendoDataSource" :pageable='true' :sortable='true' :pagable='pageable' :filterable='filterable' @databound="onDataBound">
              <kendo-grid-column field="StateName" title="State Name"></kendo-grid-column>
              <kendo-grid-column field="StateCode" title="State Code"></kendo-grid-column>
              <kendo-grid-column field="CountryName" title="Country Name"></kendo-grid-column>
              <kendo-grid-column  title="Action" :width="100" 
                template='<a id="edit-${Id}" class="vue-kendo-link-edit" >
                <i class="fa fa-edit text-success" data-item="${Id}"></i></a> 
                <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" 
                data-item="${Id}"></i></a>'>
                </kendo-grid-column>
           </kendo-grid>
        </div>
    </div>
</template>

<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import ListService from "../../services/list";

export default {
  name: "state",
  extends: Base,
  components: {
    Action,
    Mode
  },
  created() {
    this.url.init = "address/state";
    this.url.list = "address/state/list";
    this.url.add = "address/state/add";
    this.url.edit = "address/state/edit";
    this.url.add = "address/state/add";
    this.url.update = "address/state/update";
    this.url.delete = "address/state/delete";
  },
  beforeCreate() {
    console.log(1);
  },
  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      promises.push(ListService.getCountryList());
      if (to.params.id !== undefined) {
        promises.push(ListService.getById("address/state/get/" + to.params.id));
      }
      Promise.all(promises).then(response => {
        next(p => {
          if (to.params.id !== undefined) {
            p.vModel = response[1].body;
          }
          p.CountryCollection = response[0].body;
        });
      });
    } else {
      next();
    }
  },
  data() {
    return {
      vModel: {
        Id: null,
        StateName: null,
        StateCode: null,
        CountryId: null,
        CountryName: null
      },
      CountryCollection: null
    };
  }
};
</script>

