<template>
    <div class="animated fadeIn">
        <mode :url="url" :mode="mode" />
        <div v-show="mode !== undefined">
            <form @submit.prevent="onSubmit" novalidate autocomplete="off">
                <div class="card">
                    <div class="card-header">
                        <strong>Suburb: {{mode}}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                           <div class="col-sm-4">
                                <div class="form-group">
                                    <label>State <span class="text-red">*</span></label>
                                    <kendo-dropdownlist ref="statedropdownlist"
                                    v-if="StateCollection != null"
                                    name='State' v-validate="'required'" class="form-control" 
                                    :class="{'input': true, 'is-danger': errors.has('State') }" 
                                    v-model="vModel.StateProvinceId" 
                                    :data-text-field="'Text'" 
                                    :data-value-field="'Id'" 
                                    :auto-bind="true"
                                    v-on:select="onSelect" 
                                    :data-source="StateCollection" 
                                    :option-label="'Please Select State'"
                                    v-on:cascade="onSateCascade"
                                    @databound="onStateDropDownBound"
                                    :index="0">
                                    </kendo-dropdownlist>
                                    <div v-show="errors.has('State')" class="help is-danger">{{ errors.first('State') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>City<span class="text-red">*</span></label>
                                    <kendo-dropdownlist ref="citydropdownlist"
                                    name='State' v-validate="'required'" class="form-control" 
                                    :class="{'input': true, 'is-danger': errors.has('State') }" 
                                    v-model="vModel.CityId" 
                                    :data-text-field="'Text'" 
                                    :data-value-field="'Id'" 
                                    :auto-bind="true" 
                                    :dataSource="null"
                                    v-on:cascade="onCityCascade"
                                    @databound="onCityDropDownBound"
                                    :option-label="'Please Select State'"
                                    :index="0">
                                    </kendo-dropdownlist>
                                    <div v-show="errors.has('State')" class="help is-danger">{{ errors.first('State') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Post Code<span class="text-red">*</span></label>
                                    <kendo-dropdownlist ref="postcodedropdownlist"
                                    name='PostCode' v-validate="'required'" class="form-control" 
                                    :class="{'input': true, 'is-danger': errors.has('PostCode') }" 
                                    v-model="vModel.PostCodeId" 
                                    :data-text-field="'Text'" 
                                    :data-value-field="'Id'" 
                                    :auto-bind="true" 
                                    :dataSource="null"
                                    :option-label="'Please Select PostCode'"
                                    :index="0">
                                    </kendo-dropdownlist>
                                    <div v-show="errors.has('PostCode')" class="help is-danger">{{ errors.first('PostCode') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Post Code<span class="text-red">*</span></label>
                                    <kendo-dropdownlist ref="suburbdropdownlist"
                                    name='Suburb' v-validate="'required'" class="form-control" 
                                    :class="{'input': true, 'is-danger': errors.has('Suburb') }" 
                                    v-model="vModel.SuburbId" 
                                    :data-text-field="'Text'" 
                                    :data-value-field="'Id'" 
                                    :auto-bind="true" 
                                    :dataSource="null"
                                    :option-label="'Please Select Suburb'"
                                    :index="0">
                                    </kendo-dropdownlist>
                                    <div v-show="errors.has('Suburb')" class="help is-danger">{{ errors.first('Suburb') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name<span class="text-red">*</span></label>
                                    <input autocomplete="off" v-model="vModel.StreetName" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('StreetName') }" type="text" class="form-control" name="StreetName">
                                    <div v-show="errors.has('StreetName')" class="help is-danger">{{ errors.first('StreetName') }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label style="display:block">IsEnable?</label>
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" v-model="vModel.IsEnabled" name="IsEnable">
                                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <action v-on:oncancel="onCancel" />
                    </div>
                </div>
            </form>
        </div>
        <div v-show="mode === undefined">
           <kendo-grid :data-source="kendoDataSource" :pageable='true' :sortable='true' :pagable='pageable' :filterable='filterable' @databound="onDataBound">
              <kendo-grid-column field="SuburbName" title="Name"></kendo-grid-column>
               <kendo-grid-column field="PostCodeName" title="Post Code Name"></kendo-grid-column>
              <kendo-grid-column field="CityName" title="City Name"></kendo-grid-column>
              <kendo-grid-column field="StateName" title="State Name"></kendo-grid-column>
              <kendo-grid-column field="IsEnabled" title="IsEnabled" template="#if(IsEnabled == 'Yes') {#<span class='blue'>#:IsEnabled#</span>#} else{#<span class='red'>#:IsEnabled#</span>#}#"></kendo-grid-column> -->
              <kendo-grid-column  title="Action" :width="100" 
                template='<a id="edit-${Id}" class="vue-kendo-link-edit" >
                <i class="fa fa-edit text-success" data-item="${Id}"></i></a> 
                <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" 
                data-item="${Id}"></i></a>'>
                </kendo-grid-column>
                
              <!-- <kendo-grid-column title="Action" template="<button :click='onEdit(this)'></button>">
              
              </kendo-grid-column> -->
           </kendo-grid>
        </div>
    </div>
</template>
<style>
.red {
  color: red;
}

.blue {
  color: blue;
}
</style>
<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import ListService from "../../services/list";

export default {
  name: "suburb",
  extends: Base,
  components: {
    Action,
    Mode
  },
  created() {
    this.url.init = "address/suburb";
    this.url.list = "address/suburb/list";
    this.url.edit = "address/suburb/edit";
    this.url.add = "address/suburb/add";
    this.url.update = "address/suburb/update";
    this.url.delete = "address/suburb/delete";
  },
  methods: {
    onSateCascade: function(e) {
      console.log("event :: CascAde");
      var dropDownList = this.$refs.statedropdownlist.kendoWidget();
      var promises = [];
      var stateProvinceId =
        dropDownList.value() == ""
          ? "00000000-0000-0000-0000-000000000000"
          : dropDownList.value();
      promises.push(ListService.getById("list/city/get/" + stateProvinceId));
      Promise.all(promises).then(response => {
        this.CityCollection = response[0].body;
        this.$refs.citydropdownlist
          .kendoWidget()
          .setDataSource(this.CityCollection);
      });
    },
    onCityCascade: function(e) {
      console.log("event :: CascAde");
      var dropDownList = this.$refs.citydropdownlist.kendoWidget();
      var promises = [];
      var cityId =
        dropDownList.value() == ""
          ? "00000000-0000-0000-0000-000000000000"
          : dropDownList.value();
      promises.push(ListService.getById("list/postcode/get/" + cityId));
      Promise.all(promises).then(response => {
        this.PostCodeCollection = response[0].body;
        this.$refs.postcodedropdownlist
          .kendoWidget()
          .setDataSource(this.PostCodeCollection);
      });
    },
    onPostCodeCascade: function(e) {
      console.log("event :: CascAde");
      var dropDownList = this.$refs.postcodedropdownlist.kendoWidget();
      var promises = [];
      var postCodeId =
        dropDownList.value() == ""
          ? "00000000-0000-0000-0000-000000000000"
          : dropDownList.value();
      promises.push(ListService.getById("list/suburb/get/" + postCodeId));
      Promise.all(promises).then(response => {
        this.SuburbCollection = response[0].body;
        this.$refs.suburbdropdownlist
          .kendoWidget()
          .setDataSource(this.SuburbCollection);
      });
    }
  },
  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      promises.push(ListService.getStateList());
      if (to.params.id !== undefined) {
        promises.push(
          ListService.getById("address/suburb/get/" + to.params.id)
        );
      }
      Promise.all(promises).then(response => {
        next(p => {
          if (to.params.id !== undefined) {
            p.vModel = response[1].body;
          }
          p.StateCollection = response[0].body;
        });
      });
    } else {
      next();
    }
  },
  computed: {
    onStateDropDownBound: function(e) {
      console.log("event :: dataBound");
      var promises = [];
      var stateProvinceId = this.vModel.StateProvinceId;
      if (stateProvinceId != null) {
        promises.push(ListService.getById("list/city/get/" + stateProvinceId));
        Promise.all(promises).then(response => {
          this.CityCollection = response[0].body;
          this.$refs.citydropdownlist
            .kendoWidget()
            .setDataSource(this.CityCollection);
          this.$refs.citydropdownlist.kendoWidget().value(this.vModel.CityId);
        });
      }
    },
    onCityDropDownBound: function(e) {
      console.log("event :: dataBound");
      var promises = [];
      var cityId = this.vModel.CityId;
      if (cityId != null) {
        promises.push(ListService.getById("list/postcode/get/" + cityId));
        Promise.all(promises).then(response => {
          this.PostCodeCollection = response[0].body;
          this.$refs.postcodedropdownlist
            .kendoWidget()
            .setDataSource(this.PostCodeCollection);
            console.log('PostCode',this.vModel.PostCodeId)
          this.$refs.postcodedropdownlist.kendoWidget().value(this.vModel.PostCodeId);
        });
      }
    },
    onPostCodeDropDownBound: function(e) {
      console.log("event :: dataBound");
      var promises = [];
      var postCodeId = this.vModel.PostCodeId;
      if (postCodeId != null) {
        promises.push(ListService.getById("list/suburb/get/" + postCodeId));
        Promise.all(promises).then(response => {
          this.SuburbCollection = response[0].body;
          this.$refs.suburbdropdownlist
            .kendoWidget()
            .setDataSource(this.PostCodeCollection);
            console.log('PostCode',this.vModel.PostCodeId)
          this.$refs.suburbdropdownlist.kendoWidget().value(this.vModel.SuburbId);
        });
      }
    }
  },
  data() {
    return {
      vModel: {
        Id: null,
        StreetName: null,
        CityId: null,
        StateProvinceId: null,
        IsEnabled: null,
        PostCodeId: null,
        SuburbId:null,
      },
      StateCollection: null,
      CityCollection: null,
      PostCodeCollection: null,
      SuburbCollection:null
    };
  }
};
</script>
