﻿@model ASPVueProject.Mailing.Models.EmailRequestWithUrl<ASPVueProject.DTO.ViewModel.Setup.EndUserViewModel>

    Hi @Model.Model.FullName
    <br /><br />
    Thank You For Choosing Wilton House Apartments!<br />
    Your registration is almost complete. Click <a href="@Model.Url">here</a> to validate your account
    <br /><br />
    This link will automatically expire in 48 hours.
    <br /><br />
