﻿@model ASPVueProject.Mailing.Models.MailMasterVariables

<table cellpadding="0" cellspacing="0" style="@Model.MainWrapperStyle">
    <tr>
        <td style="@Model.LogoWrapperStyle">
            @Model.ApplicationName
        </td>
    </tr>
    <tr>
        <td style="@Model.BodyWrapperStyle">
            @Raw(Model.Html)
        </td>
    </tr>
    <tr>
        <td style="@Model.FooterTextStyle">
            Thank you for using
            <b>
                @Model.ApplicationName
            </b>
            <br /><br />
            Please do not reply to this email address.
        </td>
    </tr>
</table>
