﻿@model ASPVueProject.Mailing.Models.EmailRequest<ASPVueProject.DTO.ViewModel.Setup.UserViewModel>

Hi @Model.Model.FullName
<br /><br />
This is a confirmation that the password for your account @Model.Model.Username has just been changed.
<br /><br />
If you didn't request a password change, try signing in and reset your password.
<br /><br />