﻿@model ASPVueProject.Mailing.Models.EmailRequestWithUrl<ASPVueProject.DTO.ViewModel.Setup.UserViewModel>

    Hi @Model.Model.FullName
    <br /><br />
    We received a password reset request for your account.<br />
    Click <a href="@Model.Url">here</a> to reset your password
    <br /><br />
    This link will automatically expire in 48 hours.
    <br /><br />
