﻿@model ASPVueProject.Mailing.Models.EmailRequestWithUrl<ASPVueProject.DTO.ViewModel.Setup.UserViewModel>


Hi @Model.Model.FullName
<br /><br />
Your account has been created.<br />
Click <a href="@Model.Url">here</a> to setup your password
<br /><br />
This link will automatically expire in 48 hours.
<br /><br />