﻿<template>
  <div class="animated fadeIn">
    <mode :url="url" :mode="mode"/>
    <div v-if="mode !== undefined">
    <form @submit.prevent="onSubmit" novalidate autocomplete="off">
      <div class="card">
        <div class="card-header">
          <strong>Role: {{mode === 'edit' ? 'Edit' : 'Add'}}</strong>
        </div>
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Name <span class="text-red">*</span></label>
                          <input autocomplete="off"  v-model="vModel.Name" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('rolename') }"  type="text" class="form-control" name="rolename">
                          <div v-show="errors.has('rolename')" class="help is-danger">{{ errors.first('rolename') }}</div>
                      </div>
                  </div>
              </div>            
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Description</label>
                          <textarea class="form-control" name="Description" v-model="vModel.Description"></textarea>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label style="display:block">IsActive?</label>
                          <label class="switch switch-text switch-pill switch-primary">
                              <input type="checkbox" class="switch-input" v-model="vModel.IsActive"  name="IsActive">
                              <span class="switch-label" data-on="Yes" data-off="No"></span>
                              <span class="switch-handle"></span>
                          </label>                         
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="card">
                          <div class="card-header">
                              Role Pages
                          </div>
                          <div class="card-block no-padding">
                           <treeview :Pages="vModel.Pages" :AllPages="vModel.Pages"/>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        </div>
        <div class="card-footer">
          <action v-on:oncancel="onCancel"/>
        </div>
      </div>
      </form>
    </div>
   <div v-if="mode === undefined">
  <form @submit.prevent="onExternalFilterSubmit" novalidate autocomplete="off">
      <div class="card">
        <div class="card-header">
          <strong>Role Filter</strong>
        </div>
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Name <span class="text-red">*</span></label>
                          <input autocomplete="off"  v-model="externalFilterViewModel.Name" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('filterName') }"  type="text" class="form-control" name="filterName">
                          <div v-show="errors.has('filterName')" class="help is-danger">{{ errors.first('filterName') }}</div>
                      </div>
                      <button>Submit</button>
                      <button type="button" @click="onCancelFilter">Cancel</button>
                  </div>
              </div>
              </div>
        </div>
        </div>
      </div>
  </form>
    <kendo-grid :data-source="kendoDataSource" :pageable='true'  :sortable='true' :pagable='pageable'
      :filterable='filterable' @databound="onDataBound">
        <kendo-grid-column field="Name" title="Name"></kendo-grid-column>
        <kendo-grid-column  :width="400" template='<a id="edit-${Id}" class="vue-kendo-link-edit" ><i class="fa fa-edit text-success" data-item="${Id}"></i></a> <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" data-item="${Id}"></i></a>'></kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</template>

<script>
import Base from '../../shared/Base.vue'
import Action from '../../shared/Action.vue'
import Mode from '../../shared/Mode.vue'
import ListService from '../../services/list'
import list from '../../mixins/list'
import kendo from '@progress/kendo-ui'
import treeview from '../../components/TreeView'

export default {
  name: 'role',
  extends: Base,
  mixins: [list],
  components: {
    Action,
    Mode,
    treeview
  },
  created () {  
    this.url.init = 'setup/role'
    this.url.list = 'setup/role/list'
    this.url.edit = 'setup/role/edit'
    this.url.add = 'setup/role/add'
    this.url.update = 'setup/role/update'
    this.url.delete = 'setup/role/delete'    
  },
  beforeRouteEnter (to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = []
      var id = to.params.id == undefined ? '00000000-0000-0000-0000-000000000000' : to.params.id      
      promises.push(ListService.getById('setup/role/get/' +id))    
      Promise.all(promises).then((response) => {
        next(p => {
           p.vModel = response[0].body
        })
      })
    } else {
      next()
    }
  },
  data () {
    return {vModel: {Name: null, Description: null, IsActive: false,Pages: [], UserPages: [], UserStatusId: null},
      template: '',
      externalFilter: true,
      externalFilterViewModel : {
        Name : ''
      }
    }
  },
  methods: {
    gridExternalFilter () {
      return {}
    },
    recursive (pages) {
      pages.forEach(element => {
        if(element.Checked){
          this.vModel.UserPages.push({PageId: element.Id, Display : true})
          this.recursive(element.Pages)
        }
      });
    },
    beforeSave () {
      this.vModel.UserPages =[];
      this.vModel.Pages.forEach(element => {
        if(element.Checked){
          this.vModel.UserPages.push({PageId: element.Id, Display : true})
          this.recursive(element.Pages)
        }        
      });
      return true;
    }
  }
}
</script>

