﻿<template>
  <div class="animated fadeIn">

    <mode :url="url" :mode="mode"/>
    <div v-show="mode !== undefined">
    <form @submit.prevent="onSubmit" novalidate autocomplete="off">
      <div class="card">
        <div class="card-header">
          <strong>User: {{mode}}</strong>
        </div>
        <div class="card-body">
        <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
              <label>Email <span class="text-red">*</span></label>
              <input autocomplete="off"  v-model="vModel.Username" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('user') }"  type="email" class="form-control" name="user">
              <div v-show="errors.has('user')" class="help is-danger">{{ errors.first('user') }}</div>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
              <label>Name <span class="text-red">*</span></label>
              <input autocomplete="off"  v-model="vModel.FullName" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('fname') }"  type="text" class="form-control" name="fname">
              <div v-show="errors.has('fname')" class="help is-danger">{{ errors.first('fname') }}</div>

          </div>
        </div>

         <div class="col-sm-4">
          <div class="form-group">
              <label>Role <span class="text-red">*</span></label>
              <kendo-dropdownlist v-if="RoleCollection != null" name='Role' v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('RoleId') }"
                    v-model="vModel.RoleId"
                    :data-text-field="'Text'"
                    :data-value-field="'Id'"
                    :auto-bind="true"
                    :data-source="RoleCollection"
                    :option-label="'Please Select Role'"
                    :index="0">
              </kendo-dropdownlist>
               <div v-show="errors.has('Role')" 
                            class="help is-danger">{{ errors.first('Role') }}
                        </div>
          </div>
        </div>


      </div>
        </div>
        <div class="card-footer">
          <action v-on:oncancel="onCancel"/>
        </div>
      </div>
      </form>
    </div>
   <div v-show="mode === undefined">
    <kendo-grid :data-source="kendoDataSource" :pageable='true'  :sortable='true' :pagable='pageable'
      :filterable='filterable' @databound="onDataBound">
        <kendo-grid-column field="Username" title="Email"></kendo-grid-column>
         <kendo-grid-column field="FullName" title="Name"></kendo-grid-column>
        <!-- <kendo-grid-column title="Action" template="<button :click='onEdit(this)'></button>">
        </kendo-grid-column> -->
                <kendo-grid-column :filterable = 'false' title="Action" :width="150" template='<a id="edit-${Id}" class="vue-kendo-link-edit" ><i class="fa fa-edit text-success" data-item="${Id}"></i></a> 
              <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" data-item="${Id}"></i></a>'></kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</template>

<script>
import Base from '../../shared/Base.vue'
import Action from '../../shared/Action.vue'
import Mode from '../../shared/Mode.vue'
import ListService from '../../services/list'

export default {
  name: 'user',
  extends: Base,
  components: {
    Action,
    Mode
  },
  created () {
    this.url.init = 'setup/user'
    this.url.list = 'setup/user/list'
    this.url.get = 'setup/user/get'
    this.url.add = 'setup/user/add'
    this.url.edit = "setup/user/edit";
    this.url.update = 'setup/user/update'
  },
  beforeCreate(){
  },
  beforeRouteEnter (to, from, next) {
    debugger
    if (to.params.mode !== undefined) {
      var promises = []
      promises.push(ListService.getRoleList());
      if (to.params.id !== undefined) {
        promises.push(ListService.getById("setup/user/get/" + to.params.id));
      }
      Promise.all(promises).then((response) => {
        next(p => {
           if (to.params.id !== undefined) {
                            p.vModel = response[1].body;
                        }
          p.RoleCollection = response[0].body
        })
      })
    } else {
      next()
    }
  },
  data () {
    return {
      vModel: {
        Id: null,
        Username: null,
        FullName: null,
        RoleId: null,
        UserStatus: null
      },
      RoleCollection: null
    }
  }
}
</script>
