<template>
  <div class="animated fadeIn">
    <mode :url="url" :mode="mode"/>
    <div v-show="mode !== undefined">
      <form @submit.prevent="onSubmit" novalidate autocomplete="off">
        <div class="card">
          <div class="card-header">
            <strong>Customer List : {{mode === 'edit' ? 'Edit' : 'Add'}}</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="concept">
                    Name
                    <span class="text-red">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="FullName"
                    name="FullName"
                    autocomplete="off"
                    v-model="vModel.FullName"
                    v-validate="'required'"
                    data-vv-as="Full Name"
                    :class="{'input': true, 'is-danger': errors.has('FullName') }"
                  >
                </div>
                <div
                  v-show="errors.has('FullName')"
                  class="help is-danger"
                >{{ errors.first('FullName') }}</div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="concept">
                    Contact Number
                    <span class="text-red">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="ContactNumber"
                    name="ContactNumber"
                    autocomplete="off"
                    v-model="vModel.ContactNumber"
                    v-validate="'required'"
                    data-vv-as="ContactNumber"
                    :class="{'input': true, 'is-danger': errors.has('ContactNumber') }"
                  >
                </div>
                <div
                  v-show="errors.has('Contact Number')"
                  class="help is-danger"
                >{{ errors.first('ContactNumber') }}</div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="concept">
                    DOB
                    <span class="text-red">*</span>
                  </label>
                  <kendo-datepicker
                    class="form-control"
                    id="DOB"
                    name="DOB"
                    autocomplete="off"
                    v-model="vModel.DOB"
                    v-validate="'required'"
                    data-vv-as="DOB"
                    :class="{'input': true, 'is-danger': errors.has('DOB') }"
                  ></kendo-datepicker>
                </div>
                <div v-show="errors.has('DOB')" class="help is-danger">{{ errors.first('DOB') }}</div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>
                    Country
                    <span class="text-red">*</span>
                  </label>
                  <kendo-dropdownlist
                    v-if="CountryCollection != null"
                    ref="countrydropdownlist"
                    name="Country"
                    v-validate="'required'"
                    class="form-control"
                    :class="{'input': true, 'is-danger': errors.has('Country') }"
                    v-model="vModel.Country"
                    :data-text-field="'Text'"
                    :data-value-field="'Id'"
                    :auto-bind="true"
                    v-on:select="onSelect"
                    :data-source="CountryCollection"
                    :option-label="'Please Select Country'"
                    v-on:cascade="onCountryCascade"
                    @databound="onCountryDropDownBound"
                    :index="0"
                  ></kendo-dropdownlist>
                  <div
                    v-show="errors.has('Country')"
                    class="help is-danger"
                  >{{ errors.first('Country') }}</div>
                </div>
                {{CountryCollection}}
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="concept">
                    Email
                    <span class="text-red">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="Email"
                    name="Email"
                    autocomplete="off"
                    v-model="vModel.Email"
                    v-validate="'required'"
                    data-vv-as="Email"
                    :class="{'input': true, 'is-danger': errors.has('Email') }"
                  >
                </div>
                <div v-show="errors.has('Email')" class="help is-danger">{{ errors.first('Email') }}</div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>
                    State
                    <span class="text-red">*</span>
                  </label>
                  <kendo-dropdownlist
                    ref="statedropdownlist"
                    name="State"
                    v-validate="'required'"
                    class="form-control"
                    :class="{'input': true, 'is-danger': errors.has('State') }"
                    v-model="vModel.State"
                    :data-text-field="'Text'"
                    :data-value-field="'Id'"
                    :auto-bind="true"
                    :dataSource="StateCollection"
                    :option-label="'Please Select State'"
                    :index="0"
                  ></kendo-dropdownlist>
                  <div
                    v-show="errors.has('State')"
                    class="help is-danger"
                  >{{ errors.first('State') }}</div>
                </div>
              </div>
              <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="concept">State
                                        <span class="text-red">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="State" name="State" autocomplete="off" v-model="vModel.State" v-validate="'required'"
                                        data-vv-as='State' :class="{'input': true, 'is-danger': errors.has('State') }">
                                </div>
                                <div v-show="errors.has('State')" class="help is-danger">{{ errors.first('State') }}
                                </div>
              </div>-->
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="concept">
                    Passport Number
                    <span class="text-red">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="PassportNumber"
                    name="PassportNumber"
                    autocomplete="off"
                    v-model="vModel.PassportNumber"
                    v-validate="'required'"
                    data-vv-as="Passport Number"
                    :class="{'input': true, 'is-danger': errors.has('PassportNumber') }"
                  >
                </div>
                <div
                  v-show="errors.has('PassportNumber')"
                  class="help is-danger"
                >{{ errors.first('PassportNumber') }}</div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="concept">
                    City
                    <span class="text-red">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="City"
                    name="City"
                    autocomplete="off"
                    v-model="vModel.City"
                    v-validate="'required'"
                    data-vv-as="City"
                    :class="{'input': true, 'is-danger': errors.has('City') }"
                  >
                </div>
                <div v-show="errors.has('City')" class="help is-danger">{{ errors.first('City') }}</div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="concept">
                    Post Code
                    <span class="text-red">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="PostCode"
                    name="PostCode"
                    autocomplete="off"
                    v-model="vModel.PostCode"
                    v-validate="'required'"
                    data-vv-as="Post Code"
                    :class="{'input': true, 'is-danger': errors.has('PostCode') }"
                  >
                </div>
                <div
                  v-show="errors.has('PostCode')"
                  class="help is-danger"
                >{{ errors.first('PostCode') }}</div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="concept">
                    Street Adress
                    <span class="text-red">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="StreetAdress"
                    name="StreetAdress"
                    autocomplete="off"
                    v-model="vModel.StreetAdress"
                    v-validate="'required'"
                    data-vv-as="Street Adress"
                    :class="{'input': true, 'is-danger': errors.has('StreetAdress') }"
                  >
                </div>
                <div
                  v-show="errors.has('StreetAdress')"
                  class="help is-danger"
                >{{ errors.first('StreetAdress') }}</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <action v-on:oncancel="onCancel"/>
          </div>
        </div>
      </form>
    </div>
    <div v-show="mode === undefined">
      <kendo-grid
        :data-source="kendoDataSource"
        :pageable="true"
        :sortable="true"
        :pagable="pageable"
        :filterable="filterable"
        @databound="onDataBound"
      >
        <kendo-grid-column field="FullName" title="Name"></kendo-grid-column>
        <kendo-grid-column field="Description" title="Description"></kendo-grid-column>
        <kendo-grid-column :filterable="false" field="SetupTable" title="Setup Table"></kendo-grid-column>
        <kendo-grid-column :filterable="false" field="IsActive" title="IsActive"></kendo-grid-column>
        <kendo-grid-column
          title="Action"
          :width="150"
          template="<a id="edit-${Id}" class="vue-kendo-link-edit" ><i class="fa fa-edit text-success" data-item="${Id}"></i></a>
                  <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" data-item="${Id}"></i></a>"
        ></kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</template>
<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import ListService from "../../services/list";
export default {
  name: "custmerlist",
  extends: Base,
  components: {
    Action,
    Mode
  },
  computed: {
    // onCountryDropDownBound: function (e) {
    //     var promises = [];
    //     var country = this.vModel.Country;
    //     if (country != null) {
    //         promises.push(ListService.getById("list/city/get/" + stateProvinceId));
    //         Promise.all(promises).then(response => {
    //             this.CityCollection = response[0].body;
    //             this.$refs.citydropdownlist
    //                 .kendoWidget()
    //                 .setDataSource(this.CityCollection);
    //             this.$refs.citydropdownlist.kendoWidget().value(this.vModel.CityId);
    //         });
    //     }
    // }
  },
  created() {
    this.url.init = "usermanagement/customerlist";
    this.url.list = "usermanagement/customerlist/list";
    this.url.edit = "usermanagement/customerlist/edit";
    this.url.get = "usermanagement/customerlist/get";
    this.url.add = "usermanagement/customerlist/add";
    this.url.update = "usermanagement/customerlist/update";
    this.url.delete = "usermanagement/customerlist/delete";
  },
  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      promises.push(ListService.getCountryList());
      var id =
        to.params.id == undefined
          ? "00000000-0000-0000-0000-000000000000"
          : to.params.id;

      if (to.params.id !== undefined) {
        //promises.push(ListService.getById("settings/corporatemembertype/get/" + id));
      }

      Promise.all(promises).then(response => {
        next(p => {
          if (to.params.id !== undefined) {
            p.vModel = response[1].body;
          }
          p.CountryCollection = response[0].body;
        });
      });
    } else {
      next();
    }
  },
  data() {
    return {
      vModel: {
        Id: null,
        FullName: null,
        ContactNumber: null,
        DOB: null,
        Country: null,
        Email: null,
        StateId: null,
        PassportNumber: null,
        City: null,
        PostCode: null,
        StreetAdress: null
      },
      CountryCollection: null,
      StateCollection: null
    };
  },
  methods: {
    onCountryCascade: function(e) {
      debugger;
      console.log("event :: CascAde");
      var dropDownList = this.$refs.countrydropdownlist.kendoWidget();
      var promises = [];
      var stateProvinceId =
        dropDownList.value() == ""
          ? "00000000-0000-0000-0000-000000000000"
          : dropDownList.value();
      console.log(stateProvinceId);
      promises.push(ListService.getById("list/state/get/" + stateProvinceId));
      Promise.all(promises).then(response => {
        this.StateCollection = response[0].body;
        this.$refs.statedropdownlist
          .kendoWidget()
          .setDataSource(this.StateCollection);
        this.$refs.statedropdownlist.kendoWidget().value(this.vModel.StateId);
      });
    }
  }
};
</script>
