﻿<template>
  <div>
  <vue-progress-bar></vue-progress-bar>
  <router-view :key="$route"></router-view>
  </div>
</template>

<script>
import Vue from 'vue'
import VueProgressBar from 'vue-progressbar'
import VueResource from 'vue-resource'
import VueLocalStorage from 'vue-localstorage'
import VueToastr from '@deveodk/vue-toastr'
import '@deveodk/vue-toastr/dist/@deveodk/vue-toastr.css'
import CommonService from './services/common'
import '@progress/kendo-ui'
import '@progress/kendo-theme-default/dist/all.css'
import { KendoCalendar } from '@progress/kendo-dateinputs-vue-wrapper'
import { KendoGrid, KendoGridInstaller } from '@progress/kendo-grid-vue-wrapper'
import { KendoDropDownList, KendoDropdownsInstaller } from '@progress/kendo-dropdowns-vue-wrapper'
import { KendoTimePicker, KendoDateinputsInstaller} from '@progress/kendo-dateinputs-vue-wrapper';
import './utilities/veeValidate'

Vue.use(KendoDropdownsInstaller)
Vue.use(KendoTimePicker)
Vue.use(KendoDateinputsInstaller)
Vue.use(KendoGridInstaller)
Vue.use(VueToastr, {
  defaultPosition: 'toast-top-right',
  defaultType: 'info',
  defaultTimeout: 3000
})

Vue.component(KendoCalendar.name, KendoCalendar)
Vue.component(KendoGrid.name, KendoGrid)

Vue.use(VueLocalStorage)
Vue.use(VueResource)
Vue.use(VueProgressBar, {
  color: '#000000',
  failedColor: '#874b4b',
  thickness: '3px',
  transition: {
    speed: '0.2s',
    opacity: '0.6s',
    termination: 300
  },
  autoRevert: true,  
  inverse: false
})

Vue.http.interceptor.before = function (request, next) {
  request.headers.set('DeviceType', 'Web')
     // console.log(CommonService.getAuthToken());
  if (request.url.indexOf('account/signin') === -1) {

    request.headers.set('X-Token', CommonService.getAuthToken())
  }
  request.url = CommonService.getBaseUrl(request.url)
  next()
}
Vue.http.interceptors.push(function (request, next) {
  this.$Progress.start()
  next(function (response) {   
    if (!response.ok) {
      this.$toastr('error', response.body[0].Message)
      this.$Progress.fail()
    }
    else{
      this.$Progress.finish()
    }    
  })
})

export default {
  name: 'app',
  components: {
    KendoCalendar,
    KendoGrid,
    KendoDropDownList
  }
}
</script>

<style>
  /* Import Font Awesome Icons Set */
  @import '~font-awesome/css/font-awesome.min.css';
  @import '~simple-line-icons/css/simple-line-icons.css';
  /* Import Bootstrap Vue Styles */
  @import '~bootstrap-vue/dist/bootstrap-vue.css';
  @import '../scss/flags.css'

</style>
<style lang="scss">
  // Import Main styles for this application
  @import './scss/style';
</style>
