.vue-kendo-link-delete,
.vue-kendo-link-edit {
    cursor: pointer;
    cursor: hand;
}

.list-group {
    padding-left: 0;
}

.list-group-item {
    border: none!important;
    padding: 5px;
    ul {
        margin-left: 5px;
        margin-top: 10px;
        margin-right: -15px;
        margin-bottom: -10px;
        padding-left: 0;
    }
    li {
        padding: 5px;
    }
}
div.is-danger{color: #de1b1b;font-style: italic;}
.text-red{color: #de1b1b;}
.nav-item.b-nav-dropdown .nav-link::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}
.nav.navbar-nav{margin-right: 10px;}
.switch-primary > .switch-input:checked ~ .switch-label {
    background: #5cb85c!important;
    border-color: #5cb85c;
}
.switch.switch-text .switch-label {
    background-color: red !important;
    border: 1px solid red;
}

.switch.switch-text .switch-label::before {
    color: #ffffff !important;
}

.sidebar .nav {
    width: 206px;
}

.sidebar-hidden .sidebar {
    margin-left: -212px;
}