<template>
   <div class="animated fadeIn">
    <mode :url="url" :mode="mode"/>
    <div v-show="mode !== undefined">
    <form @submit.prevent="onSubmit" novalidate autocomplete="off">
      <div class="card">
         <div class="card-header">
          <strong>Nature of Business  : {{mode === 'edit' ? 'Edit' : 'Add'}}</strong>
        </div>
        <div class="card-body">
        <div class="row">
          
                   <div class="col-sm-4">
                    <div class="form-group">
                        <label for="concept">Choice<span class="text-red">*</span></label>
                            <input type="text" class="form-control" id="choice" 
                                    name="Choice"
                                    autocomplete="off"  
                                    v-model="vModel.Name"
                                    v-validate="'required'" 
                                    :class="{'input': true, 'is-danger': errors.has('Choice') }"  >
                        </div>
                       <div v-show="errors.has('Choice')" 
                            class="help is-danger">{{ errors.first('Choice') }}
                        </div>
                      </div>

                      
                    <div class="col-sm-4">
                    <div class="form-group">
                        <label for="description">Description<span class="text-red">*</span></label>
                            <textarea class="form-control" id="description" name="Description"
                                    autocomplete="off"  
                                    v-model="vModel.Description"
                                    v-validate="'required'" 
                                    :class="{'input': true, 'is-danger': errors.has('Description') }"  >
                            </textarea>
                        </div>
                        <div v-show="errors.has('Description')" 
                            class="help is-danger">{{ errors.first('Description') }}
                        </div>
                    </div> 
                    <div class="col-sm-4">
                    <div class="form-group">
                        <label for="setuptable">Setup Table<span class="text-red">*</span></label>
                            <input type="text" class="form-control" id="setuptable" name="setuptable"
                                    autocomplete="off"  
                                    v-model="vModel.SetupTable"
                                    data-vv-as='Setup Table'
                                    v-validate="'required'" 
                                    :class="{'input': true, 'is-danger': errors.has('setuptable') }"  >
                        </div>
                          <div v-show="errors.has('setuptable')" 
                            class="help is-danger">{{ errors.first('setuptable') }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                     <div class="form-group">
                      <div class="form-group">
                          <label style="display:block">IsEnabled?</label>
                          <label class="switch switch-text switch-pill switch-primary">
                              <input type="checkbox" class="switch-input" v-model="vModel.IsEnable"  name="IsEnable">
                              <span class="switch-label" data-on="Yes" data-off="No"></span>
                              <span class="switch-handle"></span>
                          </label>                         
                      </div>
                  </div>
                </div>
        </div> 

        </div>
        <div class="card-footer">
          <action v-on:oncancel="onCancel"/>
        </div>
      </div>
      </form>
    </div>
   <div v-show="mode === undefined">
    <kendo-grid :data-source="kendoDataSource" :pageable='true'  :sortable='true' :pagable='pageable'
      :filterable='filterable' @databound="onDataBound">
        <kendo-grid-column field="Name" title="Choice"></kendo-grid-column>
        <kendo-grid-column field="Description" title="Description"></kendo-grid-column>
        <kendo-grid-column :filterable = 'false' field="SetupTable" title="Setup Table"></kendo-grid-column>
        <kendo-grid-column :filterable = 'false' field="IsEnable" title="IsEnabled?"></kendo-grid-column>
        <kendo-grid-column title="Action" :width="150" template='<a id="edit-${Id}" class="vue-kendo-link-edit" ><i class="fa fa-edit text-success" data-item="${Id}"></i></a> 
              <a class="vue-kendo-link-delete"><i class="fa fa-trash text-danger" data-item="${Id}"></i></a>'></kendo-grid-column>
      
      </kendo-grid>
    </div>
  </div> 
</template>


<script>
import Base from "../../shared/Base.vue";
import Action from "../../shared/Action.vue";
import Mode from "../../shared/Mode.vue";
import ListService from "../../services/list";

export default {
  name: "natureofbusiness",
  extends: Base,
  components: {
    Action,
    Mode
  },
  created() {
    this.url.init = "settings/natureofbusiness";
    this.url.list = "settings/natureofbusiness/list";
    this.url.edit = "settings/natureofbusiness/edit";
    this.url.get = "settings/natureofbusiness/get";
    this.url.add = "settings/natureofbusiness/add";
    this.url.update = "settings/natureofbusiness/update";
    this.url.delete = "settings/natureofbusiness/delete";
  },

  beforeRouteEnter(to, from, next) {
    if (to.params.mode !== undefined) {
      var promises = [];
      var id =
        to.params.id == undefined
          ? "00000000-0000-0000-0000-000000000000"
          : to.params.id;
      if (to.params.id !== undefined) {
        promises.push(ListService.getById("settings/natureofbusiness/get/" + id));
      }

      Promise.all(promises).then(response => {
        next(p => {
          if (to.params.id !== undefined) {
            p.vModel = response[0].body;
          }

        });
      });
    } else {
      next();
    }
  },
  data() {
    return {
      vModel: {
        Id: null,
        Name: null,
        Description: null,
        SetupTable: null,
        IsEnable: true
      }
    };
  }
};
</script>
