<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">

              <div class="card-body">
              <form @submit.prevent="onSubmit" novalidate autocomplete="off">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input autocomplete="off"  v-model="vModel.email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('username') }"  type="email" class="form-control" placeholder="Username" name="username">                                   
                </div>
                <div v-show="errors.has('username')" class="help is-danger">{{ errors.first('username') }}</div> 
                </div>
                <div class="mb-4">
                <div class="input-group ">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input autocomplete="off" v-model="vModel.password" name="userpassword" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('userpassword') }" type="password" class="form-control" placeholder="Password">
                   
                </div>
                <div v-show="errors.has('userpassword')" class="help is-danger">{{ errors.first('userpassword') }}</div>  
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'Login',
  data () {
    return { vModel: { email: '', password: '' } }
  },
  beforeRouteUpdate () {
    console.log('in')
  },
  methods: {
    onSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          var cloneModel = Object.assign({}, this.vModel)
          this.$http.post('account/signin', cloneModel)
            .then((response) => {
              var result = response.body
              this.$localStorage.set('token', result.access_token)
              this.$localStorage.set('userinfo', JSON.stringify(result.LoginInfo))
              this.$localStorage.set('userpages', JSON.stringify(result.UserPages))
              setTimeout(() => {
                this.$router.push('/')
              }, 100)
            })
        }
      })
    }
  }
}
</script>
