<template>
  <ol class="breadcrumb">
    <!-- <li class="breadcrumb-item" v-for="(item, index) in list">
      <span class="active" v-if="isLast(index)">{{ showName(item) }}</span>
      <router-link :to="item" v-else >{{ showName(item) }}</router-link>     -->
      <li class="breadcrumb-item" v-for="(item, index) in filterItems(list)">
        <span class="active" v-if="isLast(index)">{{ item.name }}</span>
      <router-link :to="item" v-else >{{ item.name }}</router-link>    
     
    </li>
  </ol>
</template>



<script>
export default {
  props: {
    list: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  methods: {
    isLast(index) {
      return index === this.list.length - 1;
    },
    filterItems: function(items) {
      return items.filter(function(item) {
        console.log(item.name);
        return item.name;
      });
    }
  }
};
</script>
