<template>
  <footer class="app-footer">
    <span><a href="">ASPVueProject</a> &copy; 2018.</span>
    <span class="ml-auto">Powered by <a href="https://www.mtradeasia.com/">Merchantrade Asia</a></span>
  </footer>
</template>
<script>
export default {
  name: 'footer'
}
</script>
