<template>
      <b-nav-item-dropdown right no-caret>
        <template slot="button-content">
          <img :src="userInfo.DisplayPicture" class="img-avatar" />
          <span class="d-md-down-none">{{userInfo.FullName}}</span>
        </template>
        <!-- <b-dropdown-header tag="div" class="text-center"><strong>Account</strong></b-dropdown-header> -->
        <b-dropdown-item @click="logOut"><i class="fa fa-lock"></i> Logout</b-dropdown-item>        
      </b-nav-item-dropdown>
</template>
<script>
import CommonService from "../services/common";
export default {
  name: "header-dropdown",
  created() {
    this.userInfo = CommonService.getUserInfo();
  },
  methods: {
    logOut: function(e) {
      e.preventDefault();
      CommonService.logOut();
    }
  },
  data() {
    return {
      userInfo: null
    };
  }
};
</script>

