<template>
<ul class="list-group">
  <li class="list-group-item" v-for="page in Pages">
    <input :disabled="page.Id == 1" @change="toggle(page,Pages)" type="checkbox" v-model="page.Checked"/> {{page.Text}}
    <template v-if="page.Pages.length > 0">          
      <treeview :Pages="page.Pages" :AllPages="AllPages"></treeview>
    </template>
  </li>
</ul>
</template>
<script>
import Vue from 'vue';
export default {
  props: ["Pages","AllPages"],
  name:"treeview",
  methods: {
    toggle (page,Pages) {
      page.Pages.forEach(p=>{
        p.Checked = page.Checked
      })   

      if(page.ParentId !== null && page.Checked){    
        var parentPage  = this.AllPages.filter(s=> s.Id == page.ParentId)[0];  
        parentPage.Checked = true;
      }     
    }
  }
}
</script>